{{- with index .Values "secrets" "egov-hrms" }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .name }}
  namespace: {{ .namespace }}
type: Opaque
data:
  employee-default-password : {{ .employee-default-password | b64enc | quote }}
{{- end }}