apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: digit
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: localhost:5000/redis:7.2.4
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6379
          resources:
            limits:
              memory: 128Mi
              cpu: "250m"
            requests:
              memory: 64Mi
              cpu: "100m"
          readinessProbe:
            exec:
              command: ["redis-cli", "ping"]
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            exec:
              command: ["redis-cli", "ping"]
            initialDelaySeconds: 15
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: digit
spec:
  selector:
    app: redis
  ports:
    - port: 6379
      targetPort: 6379
